#converter {
    max-width: 300px;
    margin: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(48, 53, 63);
    background-color: rgba(179, 179, 179, 0.719)
;   padding: 2em;
    border-radius: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
h1 {
    grid-column: 1;
    grid-row:1;
    align-self: center;
}
input {
    grid-column: 2;
    grid-row:1;
    border: 0px;
    padding:0;
    margin-left: 1em;
    align-self: center;
    border-radius: 20%;
}

#colordisplay {
    grid-column: 1/-1;
    grid-row:2;
    height: 300px;
    width:300px;
    background-color: blue;
    border:  2px solid rgb(236, 236, 236);
    border-radius: 50%;
}
#numbers {
    grid-column: 1/-1;
    grid-row: 3;
}